<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Possibly the greatest game</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <section id="game-play">
    <h1>Rock Paper Scissors Lizard Spock.</h1>

    <section class="img-container">
      <div class="img"><img src="public/img/rock.png" data-pick="rock"></div>
      <div class="img"><img src="public/img/paper.png" data-pick="paper"></div>
      <div class="img"><img src="public/img/scissors.png" data-pick="scissors"></div>
      <div class="img"><img src="public/img/lizard.png" data-pick="lizard"></div>
      <div class="img"><img src="public/img/spock.png" data-pick="spock"></div>
    </section>

    <ol id="victory-messages"></ol>
  </section>

  <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/game.js"></script>
  <script type="text/javascript" src="js/player.js"></script>
  <script type="text/javascript" src="js/interface.js"></script>
</body>
</html>